@charset "utf-8";
/* CSS Document */
html{
	margin: 0px;
	box-sizing: border-box;
}
*{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background: #ffffff;
}
.Header{
	width: 100%;
	height: 90px;
	margin-bottom: 0px;
}

.Header .container-fluid .row .col-3 img{
	max-width: 183px;
	max-height: 60px;
	margin-left: 130px;
	margin-top: 15px;
}
.Header .container-fluid .row .col-9 .nav{
	height: 50px;
	margin-left: 75px;
}
.Header .container-fluid .row .nav .nav-item .nav-link{
	box-sizing: content-box;
	font-size: 14px;
	color: #070707;
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 37px;
	height: 54px;
}
.Header .container-fluid .row .nav .nav-item .nav-link:hover{
	margin-top:0px;
	color: #3b9aff;
	border-top: 2px #3b9aff solid;
	padding-top: 35px;
}
.Stand{
	margin-top: 35px;
	color: #c6c6c6;
	font-size: 14px;
	margin-left: 8.5px;
	margin-right: 8.5px;
}
.Header .container-fluid .row .nav .nav-item{
	box-sizing: content-box;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	height: 54px;
} 
.Trending .container-fluid .row{
	background-color: #ededed;
	height: 35px;
}
.Trending .container-fluid .row .nav-link{
	color: #070707;
}
.Trending .container-fluid .row .nav-link:hover{
	color: #3b9aff;
}
.Trending .container-fluid .row .nav-link:nth-child(1){
	height: 12px;
	font-size: 11px;
	margin-top: 3px;
	margin-left: 125px;
}
.Trending .container-fluid .row .nav-link:nth-child(2){
	height: 12px;
	font-size: 11px;
	margin-top: 3px;
	padding-top: 7px;
	padding-left: 0px;
	padding-right: 0px;
}
.Trending .container-fluid .row .nav-link:nth-child(3){
	height: 12px;
	font-size: 11px;
	margin-top: 3px;
	margin-right: 570px;
}
.Trending .container-fluid .row img{
	width: 20px;
	height: 20px;
	margin-top: 7.5px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
}
.container .row{
	margin-top: 30px;
}
.container .row .col-4 img{
	max-width: 540px;
	max-height: 377px;
	margin-left: 28px;
}
.container .row .col-4 .nav-link{
	margin-left: 15px;
	font-size: 15px;
	margin-top: 15px;
	width: 560px;
	height: 17px;
}
.container .row .col-4 p{
	margin-left: 27px;
	font-size: 14px;
	width: 560px;
	height: 66px;
	margin-bottom: 0px;
}
.container .row .col-4 ul li .nav-link{
	width: 520px;
	height: 17px;
	margin-top: 10px;
	font-size: 13px;
}
.nav-link:hover{
	color: #3b9aff;
}
.nav-link{
	color: #070707;
}
.container .row .col-3{
	width: 350px;
	height: 609px;
	margin-left: 210px;
}
.container .row .col-3 .nav-link{
	font-size: 13px;
	height: 37px;
	width: 280px;
	padding: 0px;
	margin-top:0px;
	margin-bottom: 13px;
}
.container .row .col-3 hr{
	width: 280px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.container .row .col-2{
	margin-left: 9px;
}
.container .row .col-2 img{
	max-width: 200px;
	max-height: 421px;
	margin-left: 15px;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: 0.3s;
}
.container .row .col-2 img:hover{
	transform: scale(1.2);
}